body{
    font-family: "Noto Sans", sans-serif;
}

h1,h2{
    font-family: "Lora", serif;
}

.navbar-brand{
    font-family: "Lora", serif;
}
 .header{
        height: 700px;
        width: 100%;
        background-image: url('images/header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
        
     .header h3{
        font-size:40px;
        font-weight:700;
        margin-top:235px;
    } 

 /*   
.header-title{
    font-size: 48px;
    font-weight: bold;
}
*/
.yellow{
    background-color: #ffd43a;
    color:black; 
}

.green{
    background-color: #009688;
    color:white;
}

section{
    scroll-margin: 50px;
}

.client-img{
    object-fit: contain;
    width:120px;
    padding:0 2%;
}

.title{
    font-weight:bold;
    margin-bottom:3%;
}

.card{
    border:none;
}

.card:hover{
    transform:scale(1.05);
    transition:all 0.3s ease-in-out;
}

.card-service{
    background-color: black;
    color:white;
    cursor: pointer;
}
 
.card-service:hover{
    background-color:yellow;
    color:black;
}

.card-title{
    font-size:18px;
    font-weight: bold;
}

.portfolio-card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-img{
    object-fit: cover;
    height:450px;
    filter:brightness(0.9)
}

.portfolio-description{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    background-color: rgba(0,0,0,0);
    color:white;
    padding: 3%;
    text-align: center;
}

/* .card-container{
    display:flex;
    justify-content: center;
    height:100vh;
    align-items:center;
}
.card-container-2{
    display:flex;
}
.card-div{
    height:500px;
    margin:50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.card-div img{
    height:500px;
    width:350px;
    border-radius:3px;
}

.intro{
    height:200px;
    width:350px;
    padding: 6px;
    box-sizing: border-box;
    position:absolute;
    background: rgba(27,27,27,0);
    color:yellow;
}

.card-div h1{
    margin: 10px;
    font-size: 40px;
}

.card-div p{
    margin: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.card-div:hover{
    cursor:pointer
}
.card-div:hover .intro{
    height:220px;
    bottom:240px;
    background: black;
}
.card-div:hover p{
    opacity:1;
    visibility: visible;
}
.card-div:hover img{
    transform: scale(1.1),rotate(-3d);
} */

.card-image {
            position: relative;
            /* width: 100%; */
            text-align: center;
            width: 400px;
            height: 300px;
            padding:20px;
        }
.card-image:hover img{
    transform: scale(1.1),rotate(-3d);
}
.text-container {
            position: absolute;
            color: rgb(255, 255, 255);
            left: 50%;
            top: 100%;
            width:50%;
            transform: translate(-50%, -50%);
            background-color: rgba(41, 41, 41, 0.8); 
            padding: 0.5rem;
            text-align: center;
            font-size: 16px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-container p{
    /* margin: 20px; */
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}
.card-image:hover p{
    opacity:1;
    visibility: visible;
}
.card-image:hover{
    transform:scale(1.05);
    transition:all 0.3s ease-in-out;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
   max-width: 100%; 
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color:black;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
    .card img {
      height: 11em;
    }
 }